{% extends 'layouts/main.twig' %}

{% block title %}Отчеты{% endblock %}

{% block content %}
    <div class="row">
        <h1 class="page-header">Отчеты</h1>
        <ul>
            <li>
                <a href="{{ app.url_generator.generate('reports.top_of_jobs_by_rubric') }}">
                    топ вакансий по рубрикам
                </a>
            </li>
            <li>
                <a href="#">
                    топ слов по упоминанию их в заголовках вакансий
                </a>
            </li>
        </ul>
    </div>
{% endblock %}
